@model NewMusicSunshine.Website.Models.NewUser
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Invalid registration info. Please try again.");
    <div>
        <fieldset>
            <legend>Register</legend>
            <div class="editor-label">
                @Html.LabelFor(u => u.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.UserName)
                @Html.ValidationMessageFor(u => u.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.EmailAddress)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.EmailAddress)
                @Html.ValidationMessageFor(u => u.EmailAddress)
            </div>
            <input type="submit" value="Register" />
        </fieldset>
    </div>
}
